:root {
    --link-color: #212121;
    --link-active-color: #2196F3;
    --heading-color: #ffffff;
    --second-color:#757575;
    --backround:#2F303A;
    --background-buttons:#F5F4FA;
    --text-font-family: 'Roboto', sans-serif;
    --heading-font-family: 'Raleway', sans-serif;
}

.global-footer{
    background-color:var(--backround);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 900;
    font-family: var(--text-font-family)
}

ul {
    list-style: none;
}

.social-links {
    color:var(--link-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.social-links.active {
    color:var(--link-active-color);
}

.global-header .main-navigation a{
    color:var(--link-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.global-header .main-navigation a.active {
    color:var(--link-active-color);
}

.button {
    color:var(--heading-color);
    font-family:var(--text-font-family);
    font-size: 16px;
    background-color: #2196F3;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    
}

.list-tags{
    color:var(--link-color);
    font-family:var(--text-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
}

.list-tags p{
    color:var(--second-color);
    font-family:var(--text-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.list-tags-team span{
    color:var(--link-color);
    text-align: center;
    font-family:var(--text-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
}

.list-tags-team em{
    color:var(--second-color);
    text-align: center;
    font-family:var(--text-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}

.global-footer .global-adress a{
    color:var(--second-color);
    font-family:var(--text-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.42px;
}

.global-footer .global-adress span{
    color:var(--heading-color);
    font-family:var(--text-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
}

.section-buttons ul, button{
    border-radius: 4px;
    background:var(--background-buttons);
    color:var(--link-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
}
.section-buttons ul, button:hover{
    background-color:var(--link-active-color);
    color:var(--heading-color);
}

.list-services {
    color:var(--link-color);
    font-family:var(--text-font-family);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
}

.list-services em {
    color:var(--second-color);
    font-family:var(--text-font-family);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
}


.global-header{
    background-color: #4#d0d0d;
    padding: 24px 215px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.global-header .main-navigation ul{
    display: flex;
    width: 600px;
    justify-content: space-evenly;
}